<!DOCTYPE html>
<html>
<head>
    <title>MEAN - Thinkster</title>
    <!-- Latest compiled and minified Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Own Stylesheet -->
    <link rel="stylesheet" href="../public/style.min.css" media="screen" charset="utf-8">

    <!-- AngularJS -->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js" charset="utf-8"></script>
    <!-- AngularJS ui-router -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>

    <!-- Angular App Javascript -->
    <script src="../public/main.min.js" charset="utf-8"></script>
</head>

<body ng-app="meanThinkster">
    <nav class="navbar navbar-default pull-right" ng-controller="NavCtrl">
        <ul class="nav navbar">
            <li ng-show="isLoggedIn()"><a>{{currentUser}}</a></li>
            <li ng-show="isLoggedIn()"><a href="" ng-click="logOut()">Log Out</a></li>
            <li ng-hide="isLoggedIn()"><a href="/#/login">Log In</a></li>
            <li ng-hide="isLoggedIn()"><a href="/#/register">Register</a></li>
        </ul>
    </nav>

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <ui-view></ui-view> <!-- here comes the template -->
        </div> <!-- end col-md-6 -->
    </div> <!-- end row -->

    <script type="text/ng-template" id="/home.html">
        <div class="page-header">
            <h1>MEAN Thinkster</h1>
        </div>

        <div ng-repeat="post in posts | orderBy : '-upvotes'">
            <span class="upvotes">
                <span class="glyphicon glyphicon-thumbs-up" ng-click="incrementUpvotes(post)"></span>
                <span class="upvotes-count">{{post.upvotes}}</span>
            </span>

            <a class="title" ng-show="post.link" href="{{post.link}}">
                {{post.title}}
            </a>
            <span class="title" ng-show="!post.link">
                {{post.title}}
            </span>

            <span ng-show="post.author">
              posted by {{post.author}} |
            </span>
            <span ng-hide="post.author">
              no author |
            </span>

            <span class="detail">
                <a href="#/posts/{{post._id}}">Comments</a>
            </span>
        </div>

        <form ng-show="isLoggedIn()" ng-submit="addPost()">
            <h3>Add a new post</h3>
            <input type="text" class="form-control" placeholder="Title" ng-model="title" />
            <br>
            <input type="text" class="form-control" placeholder="Link" ng-model="link" />
            <br>
            <button type="submit" class="btn btn-primary">Add new post</button>
        </form>

        <div ng-hide="isLoggedIn()">
          <h3>You need to <a href="/#/login">Log In</a> or <a href="/#/register">Register</a> before you can add a post.</h3>
        </div>
    </script>

    <script type="text/ng-template" id="/posts.html">
        <div class="page-header">
            <h3>
                <a ng-show="post.link" href="{{post.link}}">
                    {{post.title}}
                </a>
                <span ng-hide="post.link">{{post.title}}</span>

                <span class="detail" ng-show="post.author">
                  posted by {{post.author}}
                </span>
                <span ng-hide="post.author">
                  no author
                </span>
            </h3>
        </div>

        <div ng-repeat="comment in post.comments | orderBy: '-upvotes'">
            <span class="upvotes">
                <span class="glyphicon glyphicon-thumbs-up" ng-click="incrementUpvotes(comment)"></span>
                <span class="upvotes-count">{{comment.upvotes}}</span>
            </span>

            <span class="title">
                {{comment.body}}
            </span>
            <span class="detail" ng-show="post.author">
              | posted by {{comment.author}}
            </span>
            <span ng-hide="post.author">
              no author |
            </span>
        </div>

        <form ng-show="isLoggedIn()" ng-submit="addComment()">
            <h3>Add a new comment</h3>

            <input type="text" class="form-control" placeholder="comment" ng-model="body" />
            <button type="submit" class="btn btn-primary">Post comment</button>
        </form>

        <div ng-hide="isLoggedIn()">
          <h3>You need to <a href="/#/login">Log In</a> or <a href="/#/register">Register</a> before you can comment.</h3>
        </div>
    </script>

    <script type="text/ng-template" id="/register.html">
        <div class="page-header">
            <h1>MEAN Thinkster</h1>
        </div>

        <div ng-show="error" class="alert alert-danger row">
            <span>{{error.message}}</span>
        </div>

        <form ng-submit="register()">
            <h3>Register</h3>

            <input type="text" class="form-control" placeholder="Username" ng-model="user.username" />
            <input type="password" class="form-control" placeholder="Password" ng-model="user.password" />

            <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </script>

    <script type="text/ng-template" id="/login.html">
        <div class="page-header">
            <h1>MEAN Thinkster</h1>
        </div>

        <div ng-show="error" class="alert alert-danger row">
            <span>{{error.message}}</span>
        </div>

        <form ng-submit="logIn()">
            <h3>Login</h3>

            <input type="text" class="form-control" placeholder="Username" ng-model="user.username" />
            <input type="password" class="form-control" placeholder="Password" ng-model="user.password" />

            <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </script>
</body>
</html>

<!-- TODO: look up how to have ui-router templates in a seperate html file -->
<!-- TODO: modularize index.html (split into different templates) -->